<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='logo.ico') }}" type="image/x-icon">
    <title>Recommendation System</title>
    <link rel="stylesheet" href="static/landing_page.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Our Recommendation System</h1>
        <p>Discover personalized recommendations tailored just for you!</p>
        <a href="homepage.html" class="cta-button">Get Started</a>
    </div>
   
    <script src="static/scroll.js"></script>
</body>
</html>
