<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Dorms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='recommend.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.ico') }}" type="image/x-icon">

    <style>
      
    </style>
</head>

<body>
    
        {% if recommended_dorms %}
        <h2 class="mt-4">Recommended Dorms</h2>
        {% for dorm in recommended_dorms %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ dorm['dorm'] }}</h5>
               <div style="background-color: #02ff02; padding: 5px; display: inline-block; border-radius: 10px;">
  <p class="card-text">Rating: {{ dorm['rating'] }}</p>
</div>
                <p class="card-text">Location: {{ dorm['location'] }}</p>
                <p class="card-text">Distance from school: {{ dorm['distance'] }} miles</p>
                <p class="card-text">Number of rides to get there: {{ dorm['rides'] }}</p>
                <p class="card-text">Details for {{ dorm['dorm'] }}:</p>
                
                
                <ul class="list-group">
                    {% for key, value in dorm['details'].items() %}
                        {% if key in ['budget', 'barangay', 'near_school', 'wifi', 'address', 'landmark', 'link'] %}
                            <li class="list-group-item"><strong>{{ key.capitalize() }}:</strong> {{ value }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h2 class="mt-4">No Recommended Dorm</h2>
        {% endif %}
    </div>

    <div class="container">
        <form action="/get_recommendations" method="post">
            <div class="form-group">
                <label for="budget">Budget:</label>
                <input type="number" class="form-control" name="budget" required oninput="this.value = Math.abs(this.value)" min="500" max="999999">
            </div>
            <div class="form-group">
                <label for="location" class="form-label">Location</label>
                <select class="form-control" id="location" name="location" required>
                    <option value="" disabled selected>Select Location</option>
                    <option value="taguig">Taguig</option>
                    <option value="paranaque">Paranaque</option>
                </select>

           
            </div>
            <div class="form-group">
                <label for="room_size">Room Size:</label>
                <select class="form-control" name="room_size" required>
                    <option value="single">Single</option>
                    <option value="double">Double</option>
                </select>
            </div>
            <div class="form-group">
                <label for="bathroom">Bathroom Preference:</label>
                <select class="form-control" name="bathroom" required>
                    <option value="shared">Shared</option>
                    <option value="private">Private</option>
                </select>
            </div>
            <div class="form-group">
                <label for="environment">Environment:</label>
                <select class="form-control" name="environment" required>
                    <option value="social">Social</option>
                    <option value="quiet">Quiet</option>
                </select>
            </div>
            <div class="form-group">
                <label for="barangay" class="form-label">Barangay</label>
                <select class="form-control" id="barangay" name="barangay" required disabled>
                    <option value="" disabled selected>Select Barangay</option>
                </select>
                    <!-- Options will be dynamically populated using JavaScript -->
                </select>
            </div>
            <button type="submit" class="btn btn-success">Get Recommendations</button>
        </form>
        </form>

    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-9aH16kLCCJpOJP1i5Vq-hs7Ct2msaIRScD4EWVYVGwsjT5U4aEHbdckTPrjFJz3" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('#location').change(function() {
                var location = $(this).val();
                var barangays = location === 'taguig' ? ['Bagumbayan', 'Bambang', 'Calzada', 'Central Bicutan', 'Central Signal Village (Signal Village)', 'Fort Bonifacio', 'Hagonoy', 'Ibayo-Tipas', 'Katuparan', 'Ligid-Tipas', 'Lower Bicutan', 'Maharlika Village', 'Napindan', 'New Lower Bicutan', 'North Daang Hari', 'North Signal Village', 'Palingon', 'Pinagsama', 'San Miguel', 'Santa Ana', 'South Daang Hari', 'South Signal Village', 'Tanyag (Bagong Tanyag)', 'Tuktukan', 'Upper Bicutan', 'Ususan', 'Wawa', 'Western Bicutan'] :['Don Bosco', 'Baclaran', 'B. F. Homes', 'Don Galo', 'La Huerta', 'Marcelo Green Village', 'Merville', 'Moonwalk', 'San Antonio', 'San Dionisio', 'San Isidro', 'San Martin De Porres', 'Santo Niño', 'Sun Valley', 'Tambo', 'Vitalez'];
                var barangaySelect = $('#barangay');
                barangaySelect.empty().append('<option value="" disabled selected>Select Barangay</option>');
                $.each(barangays, function(index, value) {
                    barangaySelect.append($('<option></option>').attr('value', value).text(value));
                });
                barangaySelect.prop('disabled', false);
            });

            $('#dormForm').submit(function(event) {
                event.preventDefault();
                var formData = $(this).serializeArray();
                $.ajax({
                    type: 'POST',
                    url: '/get_recommendations',
                    data: formData,
                    success: function(response) {
                        $('#mostRecommendedDorm').html(response.most_recommended_dorm ? response.most_recommended_dorm.name + " - Rating: " + response.most_recommended_dorm.rating : "No most recommended dorm available.");
                        $('#previousRecommendations').empty();
                        if (response.dorm_data) {
                            $.each(response.dorm_data, function(index, data) {
                                $('#previousRecommendations').append('<p>' + data.dorm + ' - Barangay: ' + data.barangay + '</p>');
                            });
                        }
                        $('#recommendations').show();
                        $('html, body').animate({
                            scrollTop: $('#recommendations').offset().top
                        }, 'slow');
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>
</body>

</html>
